<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
        .title {
            text-align: center;
            color: white;
            background-color: #303033;
        }

        .container {
            text-align: center;
            color: white
            width: 100%;
            height: 100%;
            color: white;
            background-color: #303033;
        }

        body {
            font-style: Open Sans;
            background-color: #303033;
        }





    </style>
</head>
<body>
<h1 class="title">Kira</h1>
<nav class="navbar navbar-expand-lg navbar-dark bg-#303033">
    <a class="navbar-brand" href="#">Введите слово:</a>
    <div class="main_block">
        <form class="form-inline my-2 my-lg-0" action="/search/" method="get">
           <input class="form-control mr-sm-2 " style="text-align: center; border-radius: 25px" type="text" placeholder="Поиск" aria-label="Search" name="q" >
            <button class="btn btn-outline-success my-2 my-sm-0" style="text-align: center; border-radius: 25px"  type="submit">Поиск</button>
        </form>
    </div>
</nav>

<div class="container">
        <h2>Death note</h2>
        <h5>Тетрадь смерти (яп. デスノート Дэсу Но:то, Death Note) — манга за авторством Цугуми Обы, проиллюстрированная Такэси Обатой, выпускавшаяся в журнале Weekly Shonen Jump с 1 декабря 2003 года. Согласно опросу, проведённому в 2007 году министерством культуры Японии, занимает 10-е место среди лучшей манги всех времён[2].

Манга «Тетрадь смерти» появилась в декабре 2003 года в виде пилотного выпуска, и в феврале 2004 года начала издаваться в еженедельном журнале Weekly Shonen Jump в виде сериала. Выход манги закончился в мае 2006 года. Манга содержала 108 глав, переизданых в 12 томах танкобонах в Японии. Позднее вышел 13-й том, своеобразная энциклопедия по миру «Тетради смерти».
С октября 2006 по июнь 2007 года на телеканале Nippon TV прошла трансляция 37-серийного аниме-сериала. 31 августа 2007 года на том же телеканале Nippon TV показали «Тетрадь смерти — Переписывание: Глазами бога» — специальную полнометражную версию аниме-сериала, представляющую собой компиляцию 1-25 серий, дополненную новыми сценами. А 22 августа 2008 года вышла ещё одна специальная полнометражная версия аниме-сериала «Тетрадь смерти — Переписывание: Преемники L», представляющая собой компиляцию 26-37 серий с несколькими новыми сценами.
Идея манги легла в основу двух парных игровых фильмов, вышедших в кинотеатрах Японии в июне («Тетрадь смерти») и ноябре 2006 года («Тетрадь смерти: Последнее имя»). Оба художественных фильма частично используют сюжет манги, и по большей части представляют собой самостоятельные произведения. В феврале 2008 года вышел ещё один игровой фильм «L: Изменить мир», являющийся спин-оффом первых двух фильмов. В августе 2006 года по мотивам манги вышла книга авторства Нисио Исина «Death Note Другая тетрадь. Дело о серийных убийствах B. B. в Лос-Анджелесе».
10 января 2007 года аниме и манга «Тетрадь смерти» были лицензированы для издания на территории США компанией VIZ Media. 12 октября 2007 года компания «Мега-Аниме» объявила о приобретении лицензии на российское издание аниме-сериала. Трансляция прошла с 20 октября по 29 декабря 2007 года на канале 2x2. В 2019 году студия СВ-Дубль приобрела права на аниме-адаптацию, и трансляция прошла на телеканале FAN.
В июне 2008 года компания «Комикс-Арт» объявила о приобретении лицензии на российское издание манги Death Note. Первый том «Скука» вышел в начале 2009 года. По состоянию на сентябрь 2012 года на русском языке выпущены все 12 томов[3].</h5>
        <br>


</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>
</html>